### PGCLI is not connecting properperly when invoked from GitBash CMD. 
#### Lets try to do what we wanted to do in NOTEBOOK
##### Create DB, Table, and run basic SQL Scripts
##### https://www.youtube.com/watch?v=3IkfkTwqHx4&list=PL3MmuxUbc_hJed7dXYoJw8DoCuVHhGEQb&index=7

In [3]:
import pandas as pd

In [ ]:
# how to connect

In [5]:
df = pd.read_csv('yellow_tripData_2021.csv', nrows=100)

In [6]:
# mask the 2 fields from text to TimeStamp and pass back to DF
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime  = pd.to_datetime(df.tpep_pickup_datetime)

 ### BASH
 ###### pip install sqlalchemy, psycopg2

In [ ]:
df

In [7]:
# sql connection to an instance of postgres
# sqlAlchemy is a wrapper around a library that connects to postgres
from sqlalchemy import create_engine

In [8]:
engine= create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
# check if connection was created successfully 
engine.connect

In [10]:
# check if DB is up and frunning
engine.connect()

In [37]:
df.to_sql(name='yellow_taxi_data', con=engine, index=False, if_exists='replace')

100

In [13]:
# sample
# run postgres sql query
query = """ 
    select 1 as number
"""

pd.read_sql(query, con=engine)

   number
0       1

In [32]:
# \dt bash command
# run postgres sql query
query = """ 
    select * from  pg_catalog.pg_tables
    where schemaname not in ('pg_catalog', 'information_schema')
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False
1,public,yellow_taxidata,root,None,False,False,False,False
2,public,\n delete from public.yellow_taxidata\n,root,None,True,False,False,False

In [39]:
# populate table
df.to_sql(name='yellow_taxi_data', con=engine, index=False, if_exists='replace')

100

In [41]:
# run postgres sql query
query = """ 
    Drop Table  yellow_taxi_data  
"""

pd.read_sql(query, con=engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [38]:
# run postgres sql query
query = """ 
    select * from  yellow_taxi_data LIMIT  10
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,None
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,None
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,None
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,None
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,None
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5,None
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0,None
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5,None
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0,None
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5,None