###### DE Zoomcamp 1.2.2 - Ingesting NY Taxi Data to Postgres
###### https://www.youtube.com/watch?v=2JM-ziJt0WI&list=PL3MmuxUbc_hJed7dXYoJw8DoCuVHhGEQb&index=6
###### https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('yellow_tripData_2021.csv', nrows=100)

In [3]:
# mask the 2 fields from text to TimeStamp and pass back to DF
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime  = pd.to_datetime(df.tpep_pickup_datetime)

In [4]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5,NaN
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN

In [5]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

#### Postgres Connection
###### $ pip install sqlalchemy

In [11]:
from sqlalchemy import create_engine

In [12]:
engine= create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
engine.connect()

In [14]:
# read and write to DB in chunks of 100k
df_Iter = pd.read_csv('yellow_tripData_2021.csv', iterator=True, chunksize=10000)

In [15]:
df_Iter

In [16]:
# mask the 2 fields from text to TimeStamp and pass back to DF
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime  = pd.to_datetime(df.tpep_pickup_datetime)

In [17]:
df.head(n=0).to_sql( name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [18]:
%time df.to_sql( name='yellow_taxi_data', con=engine, if_exists='append') # how long will it run

CPU times: total: 93.8 ms
Wall time: 182 ms

100

In [19]:
from time import time

In [20]:
df.head(n=0).to_sql( name='yellow_taxi_data', con=engine, if_exists='replace')

countRecs=0
while True:
    try:
        t_start = time()
        
        df = next(df_Iter)
        
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.tpep_pickup_datetime  = pd.to_datetime(df.tpep_pickup_datetime)

   
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        countRecs+=100000
        t_end = time()
        print(f'Inserted another chunk... count... {countRecs}, it took %.3f second' % (t_end - t_start))
    except:
        break

print('Asta - La - Vista')

Inserted another chunk... count... 100000, it took 7.304 second
Inserted another chunk... count... 200000, it took 3.789 second
Inserted another chunk... count... 300000, it took 4.986 second
Inserted another chunk... count... 400000, it took 4.268 second
Inserted another chunk... count... 500000, it took 3.993 second
Inserted another chunk... count... 600000, it took 4.066 second
Inserted another chunk... count... 700000, it took 3.978 second
Inserted another chunk... count... 800000, it took 4.307 second
Inserted another chunk... count... 900000, it took 6.408 second
Inserted another chunk... count... 1000000, it took 4.800 second
Inserted another chunk... count... 1100000, it took 4.661 second
Inserted another chunk... count... 1200000, it took 3.812 second
Inserted another chunk... count... 1300000, it took 3.990 second
Inserted another chunk... count... 1400000, it took 4.909 second
Inserted another chunk... count... 1500000, it took 4.426 second
Asta - La - Vista