# get zone look-up table

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
url="https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv"

In [3]:
pos=url.rfind('/')
local_name = url[pos+1:]
local_name

'taxi+_zone_lookup.csv'

In [4]:
os.system(f"wget {url} -O {local_name}")

0

In [5]:
df_zones = pd.read_csv(local_name)
df_zones.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

#### connect to postgres

In [6]:
engine= create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
# test connection
engine.connect

In [8]:
# ------------------------Prerequisite-----------------------
# >>>>>>>>> Start Docker Desktop App
# >>>>>>>>> GitBash --- $ docker compose up
# >>>>>>>>> Browser --- http://localhost:8080/browser/
# >>>>>>>>>>>>>>> Register Serve and connect to postgres database (pgdatabase), port 5432, user/pass root
# create table
df_zones.to_sql( name='zones', con=engine, if_exists='replace')

265

##### RUN SQL Scripts in postgres --- http://localhost:8080/browser/