##### Dopload file from HTTP site to local Folder

In [38]:
import os
import time
import pandas as pd
#from time import time

In [39]:
url="https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv"

# type of file? Zip file or not?
if url.endswith('.csv.gz'):
    local_name = 'output.csv.gz'
    pos=url.rfind('.')
    pos = url[:pos-1].rfind('.')
    local_name = "local_"+ str(time.time()).replace(".","_")+url[pos:]
else:
    pos=url.rfind('.')
    local_name = "local_"+ str(time.time()).replace(".","_")+url[pos:]
    
local_name

'local_1708275108_5776877.csv'

In [40]:
# downloads the files
if url.endswith('.parquet'):      
    parquet_name= 'output.parquet'
    os.system(f"wget {url} -O {parquet_name}")
    # Convert the download .parquet file to csv and rename as csv_name to keep it relevant to the rest of the code
    df = pd.read_parquet(parquet_name)
    df.to_csv(local_name, index=False)
else:
    # not parquet
    os.system(f"wget {url} -O {local_name}")

In [43]:
df = pd.read_csv(local_name, nrows=8)

In [44]:
df

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone

In [45]:
df.head(n=3)

   LocationID Borough                     Zone service_zone
0           1     EWR           Newark Airport          EWR
1           2  Queens              Jamaica Bay    Boro Zone
2           3   Bronx  Allerton/Pelham Gardens    Boro Zone

In [28]:
time.localtime()

time.struct_time(tm_year=2024, tm_mon=2, tm_mday=18, tm_hour=18, tm_min=33, tm_sec=37, tm_wday=6, tm_yday=49, tm_isdst=0)

In [14]:
time.ctime()

'Sun Feb 18 18:24:16 2024'

In [18]:
time.localtime(1708273093)

time.struct_time(tm_year=2024, tm_mon=2, tm_mday=18, tm_hour=18, tm_min=18, tm_sec=13, tm_wday=6, tm_yday=49, tm_isdst=0)

In [26]:
time.time()

1708273896.3581483